{% extends "app/layout.html" %}

{% block content %}

<h2 style="color:coral">Select your drink</h2>

<form method="post" action="/createOrder/">
    {% csrf_token %}

    <select type="text" id="drink" name="drink" class="form-select form-control">
        {% for drink in cafe_list %}
    <option  value="{{ drink.id }}">{{ drink.name }} -- {{ drink.price }}</option>
    {% endfor %}
    </select>
    <br />
    <input type="text" class="form-control" placeholder="quantity" name="quantity"><br>
    <button type="submit" class="btn btn-danger" value="Order">Order</button>
</form>


{% endblock %}

